---
import "../styles/global.css";

const { title = "Taylor Portfolio" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>

  <body>
    <header>
      <div class="container">
        <nav>
          <a href="/" class="brand">Taylor Heathcote - Portfolio</a>
          <div class="nav-links">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/projects">Projects</a>
            <a href="/cv">CV</a>
            <a href="/contact">Contact</a>
          </div>
        </nav>
      </div>
    </header>

    <main>
      <div class="container">
        <slot />
      </div>
    </main>

    <footer>
      <div class="container">
        <p>© 2026 Taylor Heathcote.</p>
      </div>
    </footer>
  </body>
</html>